/* global */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f7f8fc;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}



/* main-container */

.main-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin: 2em 0;
    padding: 3em;
    box-shadow: 0 0 20px #a3b4c0;
    border-radius: 10px;
}

/* top-container */


.top-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#humburg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8em;
}

#title {
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
}

.photo {
    display: flex;
    justify-content: center;
}

.photo img {
    height: 15em;
    width: 17em;
    box-shadow: 0 0 20px #a3b4c0;
}

/* audio-container */

.audio {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
}

.audio-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.icons {
    display: flex;
    margin: 1em;
    justify-content: space-around;
}

.audio div{
    display: flex;
    justify-content: space-between;
}


/* song-container */

.song-container {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}

.song {
    color: gray;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
#current-song {
    color: black;
}

.fa-circle-play{
    color: gray;
}